@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #85D468, #0ACCCE);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #07838598;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #74549B;
    text-align: center;
    text-shadow: 1px 1px 2px #392a4dc0
}

h2{
    color: #C9C9C9
}

p{
    text-align: justify;
}