@charset "UTF-8";

body {
    background-color: rgba(39, 180, 133, 0.37);
    font: arial, helvetica, sans-serif;
}
h1 {
    color:rgb(13, 99, 70)
}

h1#pricipal {
    text-align: center;
    background-color: rgb(27, 161, 27);
    color: rgba(255, 255, 255, 0.712);
}

h2 {
    color:rgba(17, 71, 53, 0.733);
}

.basico {
    color: green
}

.intermediario {
    color: rgb(119, 128, 0);
}

.avançado {
    color: rgb(128, 0, 0);
}